/* General layout */

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: bisque;
  --main-color: #333;
}

/* Main page sections */

body {
  margin: 1.5rem;
  font-size: 1rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

nav,
footer {
  font-size: 0.9rem;
  margin: 1rem 0;
}

.container {
  padding: 1rem;
  background-color: burlywood;
  border-radius: 5px;
}

footer {
  font-style: italic;
}

/* Parts of the pages */

h2 {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.techSkills {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: darkblue;
}

a:visited {
  color: blueviolet;
}

a:hover {
  font-weight: bold;
  color: darkcyan;
}

nav a {
  padding: 0 1rem;
}

p {
  margin-bottom: 0.5rem;
}

ul {
  padding-left: 1rem;
  list-style: square;
}

li {
  font-size: 0.9rem;
  font-family: Tahoma, Geneva, sans-serif;
  padding-bottom: 0.3rem;
}

#loremP {
  padding: 0.2rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  border-radius: 5px;
}

table {
  width: 100%;
}

tr:nth-child(2) th:nth-child(1) {
  color: crimson;
}

tr:nth-child(2) th:nth-child(2) {
  color: magenta;
}

tr:nth-child(2) th:nth-child(3) {
  color: limegreen;
}

tr:nth-child(2) th:nth-child(4) {
  color: #ccff00;
}

footer p {
  text-align: center;
}

img,
.gradient {
  border-radius: 5px;
}

.unnecessaryArea {
  margin-top: 1.4rem;
}

.gradient {
  margin-top: 1rem;
  height: 2rem;
  background-image: linear-gradient(bisque, burlywood);
}

.comicSans {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.comicSans::after {
  content: url(/images/sadFace.png);
}

/* Animation */
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
}
/* Only focus on modern browsers at the moment, can use bundlers later to support older versions */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  img {
    display: none;
  }
  table {
    display: none;
  }
}
